<%= render partial: "shared/heading", locals: { title: 'Dashboard', description: '' } %>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
        <div class="flex justify-center items-center h-full">
          <div class="text-center">
            <h2 class="text-3xl font-extrabold text-gray-900">Welcome to your dashboard</h2>
            <p class="mt-4 text-lg text-gray-500">Here you can manage your bookings, see your profile and more.</p>
            <%= link_to "Add a venue", new_venue_path, class: "mt-4 text-lg text-gray-500" %>
            <%= link_to "dash" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
