<%= render partial: "shared/heading", locals: { title: 'Dashboard', description: '' } %>
<main>
  <div style="background-image: url('<%= asset_path('group.png') %>'); background-repeat: repeat; width: 100%; height: 100vh;">
</div>

</div>

  </div>
</main>
