<div class="bg-white">
  <div>
    <h1 class="text-black font-bold text-4xl">Venues near you</h1>
  </div>
  <div class="netflix-slider" data-controller="swiper">
    <h2 class='text-black text-lg font-bold'>Best places for solo working</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-venue-idx">
            <img src="/assets/img1.jpg" />
            <div class="card-venue-idx-infos">
              <div>
                <h2>Some little cafe</h2>
                <p>You want to work here!</p>
              </div>
              <h2 class="card-venue-idx-pricing">From € 6</h2>
              <img src="/assets/james.jpg" class="card-venue-idx-user avatar-bordered" />
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>
