<%# Form Inputs to get search results %>
<div>
<div class="slider-carousel bg-white" data-controller="swiper">
  <h1 class='text-black font-bold text-4xl'>Search places near you!</h1>
  <div data-controller="placesapi" data-placesapi-types="cafe,restaurant,library" class="flex items-center justify-center">
    <input data-placesapi-target="place" type="text" placeholder="Search for a place" class="p-1 m-3">
    <button data-placesapi-target="locationButton" class="p-2 bg-blue-500 text-white rounded">Get Current Location</button>

    <!-- Slider for setting the search radius -->
    <label for="radius">Search Radius: <span id="radius-value">1000</span> meters</label>
    <input id="radius-slider" data-placesapi-target="radiusSlider" type="range" min="0" max="10000" value="1000" class="p-1 m-3">
  </div>
</div>

  <!-- Loop for creating multiple Swiper containers for different place types -->
<div class='my-2'>
    <div class='mb-2'><% ["Cafe's", "Restaurant's", "Libraries"].each_with_index do |place_type, index| %>
        <h2 class='text-black font-bold text-2xl mt-4'><%= place_type.capitalize %> near you!</h2>
    </div>

      <div class="slider-carousel bg-white" data-controller="swiper">
        <div class="swiper mySwiper<%= index %>">
          <div class="swiper-wrapper" id="results-container-<%= index %>">
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    <% end %>
</div>
</div>
