.avatar {
  width: 40px;
  border-radius: 50%;
  margin-inline: 20px;
  padding-top: 10px;
}

.btn-primary {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
